.w3-theme-l5 {color:#000 !important; background-color:#e8ffe7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#b1ffaf !important}
.w3-theme-l3 {color:#000 !important; background-color:#63ff60 !important}
.w3-theme-l2 {color:#fff !important; background-color:#14ff10 !important}
.w3-theme-l1 {color:#fff !important; background-color:#03c000 !important}
.w3-theme-d1 {color:#fff !important; background-color:#026500 !important}
.w3-theme-d2 {color:#fff !important; background-color:#015a00 !important}
.w3-theme-d3 {color:#fff !important; background-color:#014f00 !important}
.w3-theme-d4 {color:#fff !important; background-color:#014300 !important}
.w3-theme-d5 {color:#fff !important; background-color:#013800 !important}

.w3-theme-light {color:#000 !important; background-color:#e8ffe7 !important}
.w3-theme-dark {color:#fff !important; background-color:#013800 !important}
.w3-theme-action {color:#fff !important; background-color:#013800 !important}

.w3-theme {color:#fff !important; background-color:#026e00 !important}
.w3-text-theme {color:#026e00 !important}
.w3-border-theme {border-color:#026e00 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#026e00 !important}
.w3-hover-text-theme:hover {color:#026e00 !important}
.w3-hover-border-theme:hover {border-color:#026e00 !important}
